<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    .pai{
        background-color: antiquewhite;
        
        padding: 60px;
    }
    .filho{
        background-color: aquamarine;
        padding: 20px;
        left: 50px;
        position:relative;

    }
    </style>
</head>

<body>
    <div class="pai">
        <di class="filho">
            ada
            
        </div>
        
        
    </div>
</body>
</html>